:root {
  --color-blue: #0d6efd;
  --color-black: #111;
  --color-white: #fff;
  --color-green: #16a085;
  --color-red: #c82647;
  --color-orange: #eb9532;
  --color-purple: #7e3661;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* CSS PROPERTIES */

.container-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* SELECT */

.select-meme {
  /* display: block; */
  width: 200px;
  /* height: 55px; */
  padding: 0.25rem 2.25rem 0.25rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}
.select-meme:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* INPUT */

.input-meme {
  width: 300px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  /* font-size: 1rem; */
  /* font-weight: 400; */
  line-height: 1.5;
  color: #555;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

.input-meme:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* BUTTON */
.btn-meme {
  /* background-color: transparent; */
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 35px;
  background: var(--color-blue);
  cursor: pointer;
  margin-top: 5px;
}

.btn-meme:focus {
  outline: 0; /* Quita la sombra de las esquinas */
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-meme:hover {
  background: #fff;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  /* transform: scale(1.1); */
  transition: 200ms ease all;
}

/* CSS MEME */

.content-meme {
  position: relative;
  /* border: 1px solid red; */
  /* background: #000; */
}

.content-meme img {
  width: 100%;
}

.content-meme span {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 35px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.content-meme span:nth-child(1) {
  top: 15px;
}

.content-meme span:nth-child(2) {
  bottom: 15px;
}

@media (min-width: 576px) {
  .content-meme {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .content-meme {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .content-meme {
    width: 35%;
    margin: 0 auto;
  }
}
